<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" 
	md-is-locked-open="$mdMedia('gt-md')" >
  <md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Sidenav Left</h1>
  </md-toolbar>
  <md-content layout-padding ng-controller="LeftCtrl">
    <md-button ng-click="close()" class="md-primary" hide-gt-md>
      Close Sidenav Left
    </md-button>
    <p hide-md show-gt-md>
      <md-list>
      	<md-list-item>
      		<a ui-sref="listRepository" class="md-raised md-primary">Repositories</a>
      	</md-list-item>
      	<md-list-item>
      		<a ui-sref="ideas" class="md-raised md-primary">Ideas</a>
      	</md-list-item>
      	<md-list-item>
      		<a ui-sref="activities" class="md-raised md-primary">Activities</a>
      	</md-list-item>
      </md-list>
      
    </p>
  </md-content>
</md-sidenav>