<div ng-cloak data-ng-init="vm.toViewRepository()">
  <md-content class="md-padding">
    <md-card>
      <img ng-src="{{vm.repository.image}}" class="md-card-image">
      <md-card-content>
        <h2 class="md-title">{{vm.repository.name}}</h2>
        <p>
          {{vm.repository.description}}
        </p>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-raised md-primary">Action 1</md-button>
        <md-button class="md-raised md-warn"> Action 2</md-button>
      </md-card-actions>
    </md-card> 
  </md-content>
</div>